.home-container {
}

.home-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4ea0f1;
}

.home-navbar-logo {
    width: 20%;
}

.home-navbar-items {
    display: flex;
    justify-content: space-evenly;
    
    width: 60%;

}
.home-navbar-item{

}
.home-navbar-profile {
    width: 20%;
}
.titulo{
}